<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.copy.mapper.MemberMapper">

	<insert id="memberInsert" parameterType="memberDTO">
		insert into COPY_MEMBER(id,pw,name,tel,email)
		values(#{id},#{pw},#{name},#{tel},#{email})
	</insert>
	
	
  <select id="memberList" resultType="memberDTO">
  	select * from COPY_MEMBER
  </select>


	<select id="memberLogin" resultType="memberDTO">
		select * from COPY_MEMBER where id = #{id} and pw=#{pw}
	</select>


</mapper>

